@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
:root {
  --color-black: rgb(36, 34, 34);
  --color-white:rgb(247, 244, 244);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5rem auto 3rem;
}

nav {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  height: 3.5rem;
  background: var(--color-black);
}
nav > .icon {
  padding: .5rem;
  cursor: pointer;
  color: var(--color-white);
  text-align: center;
  transform-origin: center;
  transform: scale(1);
  transition: transform .15s ease-in-out;
}

nav .icon a {
  text-decoration: none;
  color: inherit;
}

nav .icon:hover {
  transform: scale(1.4);
}

nav > .icon + .icon {
  margin-left: 1rem;
}

.slider-nav-prev,
.slider-nav-next {
  font-size:1.5rem ;
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-nav-prev {
  left: 10px;
  right: auto;
}
.slider-nav-next {
  right: 10px;
  left: auto;
}